@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: Source Sans Pro;  /*글씨체 둥글둥글한걸로 바꾸기 */
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    background-color: khaki;
}

header {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.my-profile-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.my-profile {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 450px;
    height: 550px;
}

#my-profile-name, #my-profile-major, #my-profile-number {
    font-size: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(233, 185, 185);
    width: 80px;
    

}